@*@model myWebApp.ViewModels.School.AddGradesSection
@{
}
       <div class="main-panel">        
        <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add New Section</h4>
                  <p class="card-description">
                    Please Add The New Section and Press the Add Button.
                  </p>
                  <form class="forms-sample" method="post"
                  asp-controller="School" asp-action="AddGradesSection">
                    <div class="form-group">
                      <label asp-for="Code">Section Code</label>
                      <input type="text" class="form-control" asp-for="Code" placeholder="Enter Section Code">
                      <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="Description">Section Description</label>
                      <input type="text" class="form-control" asp-for="Description" placeholder="Enter Section Description">
                      <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label" asp-for="IsActive">
                      <input class="form-check-input" type="checkbox" value="" asp-for="IsActive">
                        Active
                      </label>
                    </div>
                    <div class="form-group">
                    <select asp-for="GradesId" class="form-select" aria-label="Default select example">
                      <option selected>Select Grade Please</option>
                                    @foreach (var Grades in ViewBag.Grades)
                                    {
                                          <option value="@Grades.GradeId">@Grades.Description</option>
                                    }
                    </select>
                    </div>
                    <div class="float-right">
                    <a class="btn btn-light" asp-controller="School" asp-action="GradesSection">Cancel</a>
                        <button type="submit" class="btn btn-primary mr-2">Add</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
           </div>
          </div>
         </div>

@section scripts{
                        <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
                        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}*@