@*@model myWebApp.ViewModels.Setup.AddLocation
@{
}
       <div class="main-panel">        
        <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add New Location</h4>
                  <p class="card-description">
                    Please Add The New Location and Press the Add Button.
                  </p>
                  <form class="forms-sample" method="post"
                  asp-controller="Setup" asp-action="AddLocation">
                    <div class="form-group">
                      <label asp-for="Code">Location Code</label>
                      <input type="text" class="form-control" asp-for="Code" placeholder="Enter Location Code">
                      <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="Description">Location Description</label>
                      <input type="text" class="form-control" asp-for="Description" placeholder="Enter Location Description">
                      <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="ShortDescription">Short Description</label>
                      <input type="text" class="form-control" asp-for="ShortDescription" placeholder="Enter Short Description">
                      <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label" asp-for="IsActive">
                      <input class="form-check-input" type="checkbox" value="" asp-for="IsActive">
                        Active
                      </label>
                    </div>
                    <div class="float-right">
                    <a class="btn btn-light" asp-controller="Setup" asp-action="Location">Cancel</a>
                        <button type="submit" class="btn btn-primary mr-2">Add</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
           </div>
          </div>
         </div>

@section scripts{
            <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}*@