@model IEnumerable<Entities.Models.Gender>
<div class="main-panel">
   <div class="content-wrapper">
          <div class="row">

            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Genders</h4>
                  @*<p class="card-description">
                    The Genders can be added here!
                  </p>*@
                  <div class="table-responsive">
                            @if (Model.Any())
                            {
                                            <table class="table table-hover table-bordered">
                                                <thead class="bg-primary text-white">
                                                    <tr>
                                                        <th>Actions</th>
                                                        <th>Status</th>
                                                        <th>Gender</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                        @foreach (var gender in Model)
                                        {
                                                                                  <tr>
                                                                                     <td class="actions">
                                                                                         <a class="fa fa-edit mr-3" asp-route-id="@gender.GenderId" asp-controller="Setup" asp-action="UpdateGender" role="button"></a>
                                                                                         <a class="fa fa-trash text-danger" onclick="return confirm('Are you sure you want to delete?');" asp-route-id="@gender.GenderId" asp-controller="Setup" asp-action="DeleteGender" role="button"></a>
                                                                                     </td>
                                                                                             <td>
                                                    @if ((bool)gender.IsActive)
                                                    {
                                                                    <label class="badge badge-success">Active</label>
                                                    }
                                                    else
                                                    {
                                                                    <label class="badge badge-danger">InActive</label>
                                                    }
                                                                </td>
                                                                                             <td>@gender.WGender</td>
                                                                                        </tr> 
                                        }
                                                          </tbody>
                                                        </table>
                            }
                            else
                            {
                                                <h3>No Data Found!</h3>
                            }
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 offset-10">
              <a class="btn btn-primary" asp-controller="Setup" asp-action="AddGender" role="button">Add</a>
            </div>
          </div>
        </div>
</div>
@*
@section scripts{
        <script>
            var rows = document.querySelector('.table').getElementsByTagName("tr");
            for(var i = 1; i <= rows.length; i++){
                var index = i.toString();
                document.querySelector(`.table tr:nth-child(${index}) td:nth-child(13)`).innerHTML = document.querySelector(`.table tr:nth-child(${index}) td:nth-child(13)`).innerHTML.split(" ")[0];
                document.querySelector(`.table tr:nth-child(${index}) td:nth-child(14)`).innerHTML = document.querySelector(`.table tr:nth-child(${index}) td:nth-child(14)`).innerHTML.split(" ")[0];
                document.querySelector(`.table tr:nth-child(${index}) td:nth-child(15)`).innerHTML = document.querySelector(`.table tr:nth-child(${index}) td:nth-child(15)`).innerHTML.split(" ")[0];
                document.querySelector(`.table tr:nth-child(${index}) td:nth-child(17)`).innerHTML = document.querySelector(`.table tr:nth-child(${index}) td:nth-child(17)`).innerHTML.split(" ")[0];
                document.querySelector(`.table tr:nth-child(${index}) td:nth-child(18)`).innerHTML = document.querySelector(`.table tr:nth-child(${index}) td:nth-child(18)`).innerHTML.split(" ")[0];
                }
        </script>
}*@