@*<div class="main-panel">
   <div class="content-wrapper">
          <div class="row">

            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Education</h4>
                  <p class="card-description">
                    The Education can be added here!
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                       <thead>
                        <tr>
                          <th>Degree/Certifications</th>
                          <th>University/Board/College</th>
                          <th>Degree</th>
                          <th>Major</th>
                          <th>Marks/CGPA</th>
                          <th>Degree Attachment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>0001</td>
                          <td>Night Shift has been assigned for this weekend.</td>
                          <td>Night Shift</td>
                          <td>1</td>
                          <td>1</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 offset-10">
              <a class="btn btn-primary" asp-controller="Employee" asp-action="AddEducation" role="button">Add Education</a>
            </div>
          </div>
        </div>
</div>*@