@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <style>
        .box{
    
	margin: 100px auto;
	width: 600px;
	background-color:#4B49AC;
    border:  solid rgb(00, 00, 00);
	padding: 30px;
    border-radius: 25px;
	text-align: center;
}
body{
	
    background-color: #fff ;
    color: whitesmoke;
}
h1{
    font-size: 300%;
    font-family: Sans-serif ;
    margin: 0 ;
}
p {
    font-size: 24px;
    margin-bottom: 30px;}
    </style>
</head>
<body>
    <div class="box"> 
        
    <h1>ACCESS DENIED</h1>
    <P>You do not have permission to view this Page.</P>
    
   </div>
</body>
</html>